[user]
    name = Xiyuan Guo
    email = tommyguo039@gmail.com

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = simple
    autoSetupRemote = true

[fetch]
    prune = true

[credential]
    helper = /usr/libexec/git-core/git-credential-libsecret

[sendemail]
    smtpServer = smtp.gmail.com
    smtpServerPort = 587
    smtpEncryption = tls
    smtpUser = tommyguo039@gmail.com
    confirm = auto
    annotate = yes
    transferEncoding = 8bit
    chainreplyto = false
    thread = yes
    suppresscc = self

[b4]
    midmask = https://lore.kernel.org/%s
    linkmask = https://patch.msgid.link/%s
    prep-auto-signoff = yes
    send-auto-cc = yes
    send-same-thread = yes
    attestation-check-dkim = yes
    cache-expire = 10
    cover-format = dynamic
