# OS
.DS_Store

# Vim
.netrwhist
*.swp
*.swo

# Tmux
tmux-client-*.log
tmux-server-*.log
tmux-*.log

nvim/.config/nvim/lazy-lock.json
tmux/.config/tmux/plugins/
ghostty/.config/ghostty/system.conf
neomutt/.config/neomutt/secrets
